@{
    ViewData["Title"] = "Contact Us";
}







   
    <div id="nav-details">
        <div id="nav-details-content"></div>
     </div>
    





        <section id="contact">

            <div class="container">
                <h1>Get In Touch</h1>
                <div class="row">
                    <div class="col-md-6">
                        <!--form class="contact-form"-->
                        <form onsubmit="return true">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Your Name.." required>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="phone" placeholder="Phone no." required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="fmail" placeholder="Email.." required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" name="message" placeholder="Message.." required></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary"
                                style="background-color: #294db1;">Submit</button>
                        </form>

                        <div class = "chatnow">
                        <script SameSite="None; Secure" src="https://cdn.landbot.io/landbot-3/landbot-3.0.0.js"></script>
                            <div id=" " style="width: 100%; height: 500px"></div>
                            <script>
                                var myLandbot = new Landbot.Container({
                                    container: '#myLandbot',
                                    configUrl: 'https://landbot.site/v3/H-1328172-BUMMXAPZ69HXA7PB/index.json',
                                });
                        </script></div>

                    </div>

                    
                    <script src="email.js"></script>
                    <script src="https://smtpjs.com/v3/smtp.js"></script>

                    <div class="col-md-6 contact-info">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1794.89037146082!2d28.186617657959065!3d-25.876692782616118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9565c60e2c1bef%3A0x558412fbf546b29!2sParking%20lot%2C%2055%20Oak%20Ave%2C%20Highveld%20Techno%20Park%2C%20Centurion%2C%200169!5e0!3m2!1sen!2sza!4v1657888012978!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="follow"><b><i class="fa fa-map-marker"></i> </b>55 Oak Avenue, Highveld Techno Park, Centurion
                        </div>
                        <div class="follow"><b><i class="fa fa-mobile"></i> </b>(+27)123456789</div>
                        <div class="follow"><b><i class="fa fa-envelope"></i> </b>training@ifundi.com</div>


                        <div class="follow"><label><b>Get Social </b></label>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
                            <a href="https://myaccount.google.com/"><i class="fa fa-google-plus"></i></a>

                        </div>
                    </div>

                </div>

            </div>

        </section>

        
